.fa-edit {
    font-size: 20px;
    margin-right: 10px;
}

.fa-trash-alt {
    font-size: 20px;
    color: red;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.alert.alert-block {
    margin-bottom: 0px;
}

.button-close,
.button-add {
    display: block;
}

.flagIcon {
    max-width: 26px;
}

.main-content-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.brand-image{
    opacity: .8,
}

.id-hidden{
    display: none;
}
